<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">

		 SELECT
			 b.seq
			,b.ccg_seq
		    ,b.code
		    ,b.code_rep
		    ,b.codename_ko
		    ,b.codename_en
		    ,b.useNY
		    ,b.delNY
		    ,b.code_order
		    ,b.reg_date
		    ,b.mod_date
		FROM NCT.CC b
	 	WHERE 1=1
			AND b.delNY = 0
			
			<if test="shcc_delNY != null and !shcc_delNY.equals('')">AND delNY = #{shcc_delNY}</if>
			<if test="shcc_useNY != null and !shcc_useNY.equals('')">AND useNY = #{shcc_useNY}</if>
			
			<choose>
				<when test="shcc_name == 1">and b.seq = #{shcc_seq}</when>
				<when test="shcc_name == 2">and b.codename_ko LIKE CONCAT('%',#{shcc_seq}, '%')</when>
				<when test="shcc_name == 3">and b.codename_en LIKE CONCAT('%',#{shcc_seq}, '%')</when>
				<when test="shcc_delNY == 1">and b.delNY LIKE CONCAT('%', #{shcc_delNY}, '%')</when>
				<when test="shcc_useNY == 1">and b.useNY LIKE CONCAT('%', #{shcc_useNY}, '%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
</mapper>		