<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">

		 SELECT
			 b.seq
			,b.ccg_seq
			,(select name from CCG a where a.seq = b.ccg_seq) as name
		    ,b.code
		    ,b.codename_ko
		    ,b.codename_en
		    ,b.useNY
		    ,b.delNY
		    ,b.reg_date
		    ,b.mod_date
		FROM NCT.CC b 
		LEFT JOIN CCG a on b.ccg_seq = a.seq
	 	WHERE 1=1
	 	
			
			<if test="shdelNY != null and !shdelNY.equals('')">AND b.delNY = #{shdelNY}</if>
			<if test="shuseNY != null and !shuseNY.equals('')">AND b.useNY = #{shuseNY}</if>
			<if test="shValue != null"></if>
			
			<choose>
				<when test="shOption == 1">and b.seq = #{shValue}</when>
				<when test="shOption == 2">and a.name = #{shValue}</when>
				<when test="shOption == 3">and b.codename_ko LIKE CONCAT('%',#{shValue}, '%')</when>
				<when test="shOption == 4">and b.codename_en LIKE CONCAT('%',#{shValue}, '%')</when>
			</choose>
			
			<choose>
				<when test="shOptionDate == 4">AND b.reg_date BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 5">AND b.mod_date BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO CC (
			codename_ko
			,codename_en
			,reg_date
			,mod_date
		)
		VALUES (
			#{codename_ko}
			,#{codename_en}
			,now()
			,now()
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
</mapper>		