<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="nov.infra.modules.member.Member"></resultMap>
	
	<sql id = "selectCommon">
		FROM member a
		WHERE 1=1
	
		<if test="shcareer != null and !shcareer.equals('')">AND a.career = #{shcareer}</if>
		<if test="shcertifiNY != null and !shcertifiNY.equals('')">AND a.certifiNY = #{shcertifiNY}</if>
		<if test="shuseNY != null and !shuseNY.equals('')"> AND a.useNY = #{shuseNY}</if>
		<if test="shdelNY != null and !shdelNY.equals('')"> AND a.delNY = #{shdelNY}</if>
		<if test="shjob != null and !shjob.equals('')"> AND a.job = #{shjob}</if>
		<if test="shValue != null"></if>
		
		<choose>
			<when test="shOption == 1">and a.seq = #{shValue}</when>
			<when test="shOption == 2">and a.memberName LIKE CONCAT('%',#{shValue},'%')</when>	
			<when test="shOption == 3">and a.memberID LIKE CONCAT('%',#{shValue},'%')</when>		
			<!-- select문(지원분야) 수정하기
			<when test="shmember == 3">and a.job</when> -->
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT 
				a.seq
				,a.memberID
				,a.pwd
				,a.job
				,a.career
				,a.memberName
				,a.memberName_en
				,a.dob
				,a.telecom
				,a.phone
				,a.phone_emer
				,a.email
				,a.email_code
				,a.hobby
				,a.region
				,a.certifiNY 
				,a.useNY
				,a.delNY
		<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id = "selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
	
	<insert id="insert">
		INSERT INTO member (
			memberID
			,pwd
			,job
			,career
			,memberName
			,memberName_en
			,dob
			,telecom
			,phone
			,phone_emer
			,email
			,email_code
			,hobby
			,region
			,certifiNY
			,useNY
			,delNY
		) VALUES (
			#{memberID}
			,#{pwd}
			,2
			,8
			,#{memberName}
			,#{memberName_en}
			,"2022-05-01"
			,22
			,01012345678
			,01012345678
			,#{email}
			,19
			,12
			,15
			,26
			,1
			,0
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	
	
<!-- 	원래 쓰던 insert코드(우편번호 검색전)
	<insert id="insert">
		INSERT INTO member (
			job
			,career
			,memberName
			,memberName_en
			,phone
			,phone_emer
			,email
			,hobby
			,region
			,certifiNY
		) VALUES (
			#{job}
			,#{career}
			,#{memberName}
			,#{memberName_en}
			,#{phone}
			,#{phone_emer}
			,#{email}
			,#{hobby}
			,#{region}
			,#{certifiNY}
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.seq
			,a.memberID
			,a.pwd
			,a.job
			,a.career
			,a.memberName
			,a.memberName_en
			,a.dob
			,a.telecom
			,a.phone
			,a.phone_emer
			,a.email
			,a.email_code
			,a.hobby
			,a.region
			,a.certifiNY
			,a.useNY
			,a.delNY
		FROM member a
		WHERE 1=1
			AND seq = #{seq}
	</select>
	
	<update id = "update">
		UPDATE member
		SET
			memberID = #{memberID}
			,pwd = #{pwd}
			,job = #{job}
			,career = #{career}
			,memberName= #{memberName}
			,memberName_en = #{memberName_en}
			,dob = #{dob}
			,telecom = #{telecom}
			,phone = #{phone}
			,phone_emer = #{phone_emer}
			,email = #{email}
			,email_code = #{email_code}
			,hobby = #{hobby}
			,region = #{region}
			,certifiNY = #{certifiNY}
			,useNY = #{useNY}
			,delNY = #{delNY}
		WHERE 1=1
			AND seq = #{seq}
	</update>
	
	<delete id = "delete">
		DELETE FROM member
		WHERE seq = #{seq}
	</delete>
	
	<update id = "uelete">
		UPDATE member
		SET 
		 delNY = 1
		WHERE seq = #{seq}
	</update>
	
	<select id="selectOneIdCheck" resultType="Integer">
		SELECT 
			COUNT(memberID)
		FROM member
		WHERE memberID = #{memberID}
	</select>

	<select id="selectOneId" resultMap="resultMapObj">
		SELECT 
			seq
			,memberID
		FROM member
		WHERE 1=1
		AND memberID = #{memberID}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT 
			seq
			,memberID
			,memberName
			,pwd
		FROM member
		WHERE 1=1
		AND memberID = #{memberID}
		AND pwd = #{pwd}
	</select>
</mapper>
