<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.book.BookMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.book.Book"></resultMap>
	
	<sql id="selectCommon">
		FROM book d
		WHERE 1=1
	</sql> 
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			d.seq
			,mup.pseq
			,mup.path
			,mup.uuidName
		    ,d.name
		    ,c.writerName
		    ,d.subTitle 
		FROM book d
		join writer c on c.seq = d.bookWriter
		join memberUploaded mup on mup.pseq = d.seq
		WHERE 1=1
		and d.seq = #{seq}
	</select>
	
	<select id="selectListFv" resultMap="resultMapObj">
		SELECT
			fv.fvseq
			,fv.fvName
			,c.writerName
			,fv.fvSubTitle
			,fv.fvPublisher
		FROM fvBook fv
		JOIN writer c ON c.seq = fv.fvBookWriter
		WHERE 1=1
    	AND fv.fvseq = #{seq}
	</select>
 	
<!-- 	<insert id="insert">
		INSERT INTO book (
			seq
			,name
			,writerName
			,subTitle
			,title
			,explanation
			,publisher
			,category
		)
		VALUES (
			#{seq}
			,#{name}
			,#{writerName}
			,#{subTitle}
			,#{title}
			,#{explanation}
			,#{publisher}
			,#{category}
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
    
    <update id="update">
    	UPDATE book
    	SET 	
    		seq = #{seq}
    		,name = #{name}
    		,writerName = #{writerName}
			,subTitle = #{subTitle}
			,title = #{title}
			,explanation = #{explanation}
			,publisher = #{publisher}
			,category = #{category}
		WHERE 1=1
			AND seq = #{seq}
    </update>
     -->

     <select id="selectOne" resultMap="resultMapObj">
		SELECT
			d.seq
	        ,mup.pseq
			,mup.path
			,mup.uuidName
		    ,d.name
		    ,c.writerName
		    ,d.title
		    ,d.subTitle
		    ,c.writerExp
		    ,d.publisher
		    ,d.explanation
		FROM book d
		join writer c on c.seq = d.bookWriter
		join memberUploaded mup on mup.pseq = d.seq
		where 1=1
        and d.seq = #{seq}	
    </select>  
    
    <select id="selecOneFv" resultMap="resultMapObj">
    	SELECT
    		fv.fvseq
    		,fv.fvName
    		,c.writerName
    		,fv.fvTitle
    		,fv.fvSubTitle
    		,c.writerExp
    		,fv.fvPublisher
    		,fv.fvExplanation
    		,fv.fvBookWriter
    	FROM fvBook fv
    	JOIN writer c ON c.seq = fv.fvBookWriter
    	WHERE 1=1
    	AND fv.fvseq = #{seq}
    </select> 
  
    <select id="selectlistTagFv" resultMap="resultMapObj">
    	SELECT
			fv.fvName
			,ftg.fvkeyword
		FROM fvTag ftg
			JOIN fvBookNtag fbt ON fbt.fvTagSeq = ftg.seq
			JOIN fvBook fv ON fv.fvseq = fbt.fvBookSeq
		where 1=1
        and fv.fvseq = #{seq}	
    </select>
     
     
    <select id="selectlistTag" resultMap="resultMapObj">
	  	SELECT
			d.name
			,tg.keyword
		FROM tag tg
			JOIN bookNtag bt ON bt.tagSeq = tg.seq
			JOIN book d ON d.seq = bt.bookSeq
		where 1=1
        and d.seq = #{seq}	
   </select>
   
   <select id="selectlistReview" resultMap="resultMapObj">
   		SELECT 
   			rev.seq
   			,d.name
   			,rev.reviewContents
   		FROM review rev
   			JOIN bookNreview br on br.reviewSeq = rev.seq
   			JOIN book d ON d.seq = br.bookSeq
 		WHERE 1=1
   		and d.seq = #{seq} 
   </select>
   	
   <!-- 리뷰 관련 
   <select id="selectlistMember" resultMap="resultMapObj">
   		SELECT
   			d.name
   			,mb.memberID
   		FROM member mb
   			JOIN bookNmember bm ON bm.memberSeq = mb.seq
   			JOIN book d ON d.seq = bm.bookSeq
   		WHERE 1=1
   		and d.seq = #{seq}
   </select>  -->
</mapper>		