<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.book.BookMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.book.Book"></resultMap>
	
	<sql id="selectCommon">
		FROM book d
		WHERE 1=1
	</sql> 
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			d.seq
		    ,d.name
		    ,c.writer_name
		    ,d.title
		    ,d.sub_title
		    ,c.writer_exp
		    ,d.publisher
		FROM book d
		left join writer c on c.seq = d.bookWriter
	<!-- 	where 1=1
        and d.seq = #{seq}	 -->
	</select>
 	
	<select id="celectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
<!-- 	<insert id="insert">
		INSERT INTO book (
			seq
			,name
			,writer_name
			,sub_title
			,title
			,explanation
			,publisher
			,category
		)
		VALUES (
			#{seq}
			,#{name}
			,#{writer_name}
			,#{sub_title}
			,#{title}
			,#{explanation}
			,#{publisher}
			,#{category}
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
    
    <update id="update">
    	UPDATE book
    	SET 	
    		seq = #{seq}
    		,name = #{name}
    		,writer_name = #{writer_name}
			,sub_title = #{sub_title}
			,title = #{title}
			,explanation = #{explanation}
			,publisher = #{publisher}
			,category = #{category}
		WHERE 1=1
			AND seq = #{seq}
    </update>
     -->
    <select id="selectOne" resultMap="resultMapObj">
		SELECT
			d.seq
		    ,d.name
		    ,c.writer_name
		    ,d.title
		    ,d.sub_title
		    ,c.writer_exp
		    ,d.publisher
		    ,d.explanation
		FROM book d
		left join writer c on c.seq = d.bookWriter
		where 1=1
        and d.seq = #{seq}	
    </select>
    
    <select id="selectlistTag" resultMap="resultMapObj">
	   SELECT
			d.name
			,tg.keyword
		FROM tag tg
	JOIN bookNtag bt ON bt.tagSeq = tg.seq
	JOIN book d ON d.seq = bt.bookSeq
   </select>
</mapper>		