<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.user.UserMapper">

	<resultMap id="resultMapObj" type="nov.infra.modules.user.User"></resultMap>
	

	<select id="selectList" resultMap="resultMapObj">
			SELECT 
				a.seq
				,a.memberID
				,a.pwd
				,a.job
				,a.career
				,a.memberName
				,a.memberName_en
				<!-- ,a.dob -->
				,a.telecom
				,a.phone
				,a.email
				,a.email_code
				,a.hobby
				,a.region
				,a.certifiNY 
				,a.genre
				,a.useNY
				,a.delNY
			FROM member a
	</select>
	
	<select id = "selectOneCount" resultType="Integer">
		SELECT COUNT(*)
	</select>
	
	<insert id="insert">
		INSERT INTO member (
			memberID
			,pwd
			,job
			,career
			,memberName
			,memberName_en
			<!-- ,dob -->
			,telecom
			,phone
			,email
			,email_code
			,hobby
			,region
			,certifiNY
			,genre
			,useNY
			,delNY
		) VALUES (
			#{memberID}
			,#{pwd}
			,#{job}
			,#{career}
			,#{memberName}
			,#{memberName_en}
			<!-- ,#{dob} -->
			,#{telecom}
			,#{phone}
			,#{email}
			,#{email_code}
			<!-- ,CONCAT(#{email},'@',(SELECT d.name FROM CC d WHERE d.seq = #{email_code})) -->
			,#{hobby}
			,#{region}
			,#{certifiNY}
			,#{genre}
			,1
			,0
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	 
	 <update id = "update">
		UPDATE member
		SET
			memberID = #{memberID}
			,pwd = #{pwd}
			,job = #{job}
			,career = #{career}
			,memberName= #{memberName}
			,memberName_en = #{memberName_en}
			<!-- ,dob = #{dob} -->
			,telecom = #{telecom}
			,phone = #{phone}
			,email = #{email}
			,email_code = #{email_code}
			,hobby = #{hobby}
			,region = #{region}
			,certifiNY = #{certifiNY}
			,genre = #{genre}
			,useNY = #{useNY}
			,delNY = #{delNY}
		WHERE 1=1
			AND seq = #{seq}
	</update>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.seq
			,a.memberID
			,a.pwd
			,a.job
			,a.career
			,a.memberName
			,a.memberName_en
		<!-- 	,a.dob -->
			,a.telecom
			,a.phone
			,a.email
			,a.email_code
			,a.hobby
			,a.region
			,a.certifiNY
			,a.genre
			,a.useNY
			,a.delNY
		FROM member a
		WHERE 1=1
			AND seq = #{seq}
	</select>

</mapper>
