<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	
		
		SELECT
			 a.seq
			 ,a.name
			 ,a.name_en
			 , (SELECT COUNT(b.ccg_seq) FROM CC b WHERE a.seq = b.ccg_seq)as code_count
			 ,a.reg_date
			 ,a.mod_date
			 ,a.useNY
			 ,a.delNY
		FROM NCT.CCG a
		WHERE 1=1
			

			<if test="shdelNY != null and !shdelNY.equals('')"> AND a.delNY = #{shdelNY}</if> 
			<if test="shuseNY != null and !shuseNY.equals('')"> AND a.useNY = #{shuseNY}</if>
			<if test="shValue!= null"></if>
			
			<!-- 안외우면 죽어/ 이름은 다르더라도 1부터 순서대로 / useNY.delNY는 if문만 쓰고 when문은 안쓴다.
				<if test="shdelNY != null and !shdelNY.equals('')"> AND a.delNY = #{shdelNY}</if> 
			<if test="shuseNY != null and !shuseNY.equals('')"> AND a.useNY = #{shuseNY}</if>
			<if test="shValue!= null"></if>
			 -->
			 
			<choose>
				<when test="shOption == 1">AND a.seq = #{shValue}</when>
				<when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue}, '%')</when>
				<when test="shOption == 3">AND a.name_en LIKE CONCAT('%',#{shValue}, '%')</when>
			</choose>
			
			<choose>
				<when test="shOptionDate == 4">AND a.reg_date BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 5">AND a.mod_date BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose> 
	</select>

	<insert id="insert">
		INSERT INTO CCG (
			name
			,name_en
			,reg_date
			,useNY
			,delNY
			
		)
		VALUES (
			#{name}
			,#{name_en}
			,now()
			,1
			,0
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
			 ,a.name
			 ,a.name_en
			 , (SELECT COUNT(b.ccg_seq) FROM CC b WHERE a.seq = b.ccg_seq)as code_count
			 ,a.reg_date
			 ,a.mod_date
			 ,a.useNY
			 ,a.delNY
		FROM CCG a
		WHERE 1=1
			AND name = #{name}
			
	</select>
</mapper>		