<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	
	SELECT
	 *
	 FROM CCG
		
<!-- 		SELECT
			 a.seq
			 ,a.name
			 ,a.name_en
			 , (SELECT COUNT(b.ccg_seq) FROM CC b WHERE a.seq = b.ccg_seq)as code_count
			 ,a.reg_date
			 ,a.mod_date
			 ,a.useNY
			 ,a.delNY
		FROM NCT.CCG a
		WHERE 1=1
			AND delNY = 0  -->

			<!-- <if test="shdelNY != null and !shdelNY.equals('')"> AND delNY = #{shdelNY}</if> 
			<if test="shuseNY != null and !shuseNY.equals('')"> AND useNY = #{shuseNY}</if>
			
			<choose>
				<when test="shname == 1">AND a.seq = #{shseq}</when>
				<when test="shname == 2">AND a.name LIKE CONCAT('%',#{shseq}, '%')</when>
				<when test="shname == 3">AND a.name_en LIKE CONCAT('%',#{shseq}, '%')</when>
				<when test="shdelNY == 1">AND a.delNY LIKE CONCAT('%',#{shdelNY}, '%')</when>
				<when test="shuseNY == 1">AND a.useNY LIKE CONCAT('%', #{shuseNY}, '%')</when>
				<otherwise></otherwise>
			</choose> -->
	</select>

	<insert id="insert">
		INSERT INTO CCG (
			name
			,name_en
			
		)
		VALUES (
			#{name}
			,#{name_en}
		)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
</mapper>		