<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nov.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="nov.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
			
		SELECT
			a.seq
			,a.name
			,a.name_en
			,a.code_count
			,a.reg_date
			,a.mod_date
		FROM NCT.CCG a
		LEFT JOIN CC b on a.seq = b.CCG_seq
		GROUP BY a.seq 
		
	</select>

</mapper>		